page-profile {
  .menu-button {
    bottom: 7px;
  }

  .edit-profile {
    background: url(../assets/icons/edit-w.svg) no-repeat center center;
    background-size: 20px;
    width: 50px;
    height: 30px;
    bottom: 7px;
    right: 0;
    position: absolute;
  }

  .title-name {
    margin: 15px 15px 20px;
    color: $text;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .wrap-image {
    min-height: 110px;
    min-width: 110px;
    max-width: 110px;
    max-height: 110px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $border;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    .avatar {
      width: 110px;
      height: 110px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .info {
    padding: 0 15px;
    margin-top: 25px;
  }

  .wrap-field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .placeholder {
    font-size: 10px;
    color: $label;
    font-weight: bold;
  }

  .value {
    font-size: 16px;
    padding: 5px 0;
    color: $text;
  }
}
